@model List<ImageProcessing.Data.Entities.RequestsAudit>


<link href="~/plugins/datatables-bs4/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/plugins/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">User Request History</h3>
    </div>

    <div class="card-body">
        <table id="tbl_user_table" class="table table-bordered table-striped dataTable dtr-inline">
            <thead>
                <tr>
                    <th width="15%">User</th>
                    <th width="15%">Requested Url</th>
                    <th width="20%">IP Address</th>
                    <th width="15%">Location</th>
                    <th width="20%">User Agent</th>
                    <th width="15%">Requested Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Unique_Session_Key</td>
                        <td>@item.Requested_Url</td>
                        <td>@item.IpAddress</td>
                        <td>@item.Location</td>
                        <td>@item.User_Agent</td>
                        <td>@item.Requested_DateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>